body {
  margin: 0;
}

header {
  display: flex;
  background-color: black;
  color: white;
  height: 12vh;
}

nav {
  background-color: grey;
  color: white;
  height: 5vh;
}

content {
  display: block;
  background-color: gainsboro;
  height: 78vh;
}

footer {
  background-color: black;
  height: 5vh;
  color: white;
}

#logo {
  flex-grow: 3;
}

.header-button {
  flex-grow: 2;
}

input {
  flex-grow: 6;
}

#cart-button {
  flex-grow: 1;
  width: 100%;
  background-image: url('../images/cart.svg');
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: calc(100% * 3 / 4);
}
